.weather-app {
  max-width: 600px;
  height: 700px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 25px;
  background-image: url("https://i.pinimg.com/564x/a8/59/50/a8595064067a8567d05c283e90c23968.jpg");
  background-size: cover;
}

h1 {
  font-family: Roboto, arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 28.8px;
}
.todays-weather {
  margin-top: -10px;
  padding-top: 0;
  margin-left: -30px;
  color: white;
  font-size: 15px;
  font-family: Google Sans, Roboto, arial, sans-serif;
}
.today-weather {
  margin-left: -30px;
  margin-top: -8px;
  color: white;
  font-size: 15px;
  font-family: Google Sans, Roboto, arial, sans-serif;
}

li {
  list-style-type: none;
}
.first-icon {
  position: relative;
  bottom: 170px;
  left: 343px;
  width: 70px;
  height: 70px;
}
.temp {
  font-size: 95px;
  position: relative;
  left: 345px;
  bottom: 140px;
  font-family: Google Sans, Roboto, arial, sans-serif;
  font-weight: 100;
}
.degrees {
  position: relative;
  left: 326px;
  bottom: 210px;
  font-size: 14px;
  color: white;
  font-family: Google Sans, Roboto, arial, sans-serif;
}
.humidity {
  margin-left: -30px;
  margin-top: -8px;
  color: white;
  font-size: 15px;
  font-family: Google Sans, Roboto, arial, sans-serif;
}
.wind {
  margin-left: -30px;
  margin-top: -8px;
  color: white;
  font-size: 15px;
  font-family: Google Sans, Roboto, arial, sans-serif;
}
.overview {
  margin-bottom: 20px;
}

.celsius {
  color: black;
  cursor: default;
  text-decoration: none;
}

.celsius:hover {
  text-decoration: none;
}

small {
  position: relative;
  left: -20px;
  bottom: -450px;
}

.weather-forecast {
  text-align: center;
  position: relative;
  bottom: 64px;
}
.Mon-forecast {
  font-size: 14px;
  color: white;
}

.Tues-forecast {
  font-size: 14px;
  color: white;
}

.Wed-forecast {
  font-size: 14px;
  color: rgb(186, 186, 186);
}

.Thurs-forecast {
  font-size: 14px;
  color: rgb(186, 186, 186);
}

.Fri-forecast {
  font-size: 14px;
  color: rgb(186, 186, 186);
}

.Sat-forecast {
  font-size: 14px;
  color: rgb(186, 186, 186);
}

.Sun-forecast {
  font-size: 14px;
  color: #bababa;
}

.Min-temp {
  opacity: 0.6;
  font-size: 12px;
}

.Max-temp {
  font-size: 12px;
}
.btn-logic {
  background-color: lightgrey;
  border-radius: 3px;
  height: 30px;
  border: 0;
}

.btn-logic:hover {
  background-color: black;
  color: white;
  border-radius: 3px;
  height: 30px;
  border: 0;
}

.button:hover {
  background-color: blueviolet;
  color: white;
  border-radius: 1px;
  height: 30px;
  border: 0;
}
